table, tr, td {
	margin: 0px;
	padding: 0px 5px;
	text-align: center;
	vertical-align: middle;
   background-color: #FAFAFA;
/*	position:relative;
*/}
tr.runhead td{
   margin: 0 20;
   padding: 0 20;
   font-weight: bold;
   background-color: #DDD;
}
table.runTab{
   margin-bottom: 10px;
   margin-left: 14px;
   border-left: 8px solid #3A3;
   background-color: #EEE;
}
td.left, th.left{
	text-align: left;
}